In [1]:
import pandas as pd

In [2]:
# データの読み込み
df = pd.read_csv("../data/transaction_history.csv", dtype={"customer_id": str})
df.head()

,customer_id,product_id,purchase_date,purchase_amount,redeem_coupon,final_settlement_amount,payment_method,purchase_channel
0,00023085,G03257PD,2020/3/13,7200,True,6200.0,現金,2.0
1,00015469,CKZF21ZC,2023/3/29,15400,False,NaN,カード,2.0
2,00015482,7NSE0G0R,2023/12/26,15400,False,NaN,現金,1.0
3,00017107,WVCPYZBH,2021/2/19,17100,False,NaN,カード,2.0
4,00024156,OELTJ7E2,2020/10/8,24100,True,23100.0,カード,1.0

In [4]:
# データの読み込み
df = pd.read_csv("../data/transaction_history.csv", dtype={"customer_id": str})

# purchase_amountの昇順でソート
df_sorted = df.sort_values(by="purchase_amount", ascending=True)

# 結果の表示
df_sorted.head()

,customer_id,product_id,purchase_date,purchase_amount,redeem_coupon,final_settlement_amount,payment_method,purchase_channel
69410,00079405,Z9RDVYHO,2024/4/2,5000,False,NaN,電子マネー,2.0
319409,00257552,SGVU8S8C,2023/8/26,5000,False,NaN,現金,1.0
284581,00243802,8FV985OY,2018/2/23,5000,False,NaN,現金,1.0
66902,00076897,UAC0W437,2018/5/6,5000,False,NaN,現金,2.0
378947,00274231,LCYIMMBG,2022/11/2,5100,False,NaN,現金,1.0