In [1]:
import pandas as pd

In [2]:
# データの読み込み
df = pd.read_csv("../data/transaction_history.csv", dtype={"customer_id": str})
df.head()

,customer_id,product_id,purchase_date,purchase_amount,redeem_coupon,final_settlement_amount,payment_method,purchase_channel
0,00023085,G03257PD,2020/3/13,7200,True,6200.0,現金,2.0
1,00015469,CKZF21ZC,2023/3/29,15400,False,NaN,カード,2.0
2,00015482,7NSE0G0R,2023/12/26,15400,False,NaN,現金,1.0
3,00017107,WVCPYZBH,2021/2/19,17100,False,NaN,カード,2.0
4,00024156,OELTJ7E2,2020/10/8,24100,True,23100.0,カード,1.0

In [4]:
# データの読み込み
df = pd.read_csv("../data/transaction_history.csv", dtype={"customer_id": str})

# purchase_amountの昇順でソート
df_sorted = df.sort_values(by="purchase_amount", ascending=True)

# 結果の表示
df_sorted.head()

,customer_id,product_id,purchase_date,purchase_amount,redeem_coupon,final_settlement_amount,payment_method,purchase_channel
69410,00079405,Z9RDVYHO,2024/4/2,5000,False,NaN,電子マネー,2.0
319409,00257552,SGVU8S8C,2023/8/26,5000,False,NaN,現金,1.0
284581,00243802,8FV985OY,2018/2/23,5000,False,NaN,現金,1.0
66902,00076897,UAC0W437,2018/5/6,5000,False,NaN,現金,2.0
378947,00274231,LCYIMMBG,2022/11/2,5100,False,NaN,現金,1.0

In [5]:
# データの読み込みを行っていない場合は、この箇所を実行してください。
# import pandas as pd
# データの読み込み
# df = pd.read_csv("transaction_history.csv", dtype={'customer_id': str})
# 'purchase_channel'の列を抽出
purchase_channel_data = df["purchase_channel"]
# 結果の表示
purchase_channel_data.head()

0    2.0
1    2.0
2    1.0
3    2.0
4    1.0
Name: purchase_channel, dtype: float64

In [6]:
# 'purchase_channel'と'product_id'の列を抽出
selected_columns_data = df[["purchase_channel", "product_id"]]

# 結果の表示
selected_columns_data.head()

   purchase_channel product_id
0               2.0   G03257PD
1               2.0   CKZF21ZC
2               1.0   7NSE0G0R
3               2.0   WVCPYZBH
4               1.0   OELTJ7E2

In [7]:
# 'purcahse_date'から'payment_method'までの列を抽出
selected_columns_data = df.loc[:, "purchase_date":"payment_method"]

# 結果の表示
selected_columns_data.head()

,purchase_date,purchase_amount,redeem_coupon,final_settlement_amount,payment_method
0,2020/3/13,7200,True,6200.0,現金
1,2023/3/29,15400,False,NaN,カード
2,2023/12/26,15400,False,NaN,現金
3,2021/2/19,17100,False,NaN,カード
4,2020/10/8,24100,True,23100.0,カード

In [8]:
# 最初の行だけを抽出
first_row = df.iloc[0]

# 結果の表示
first_row

customer_id                 00023085
product_id                  G03257PD
purchase_date              2020/3/13
purchase_amount                 7200
redeem_coupon                   True
final_settlement_amount       6200.0
payment_method                    現金
purchase_channel                 2.0
Name: 0, dtype: object

In [9]:
# 最後の行だけを抽出
last_row = df.iloc[-1]

# 結果の表示
last_row

customer_id                00012370
product_id                 1QDAGFIK
purchase_date                 45434
purchase_amount              217300
redeem_coupon                 False
final_settlement_amount         NaN
payment_method                電子マネー
purchase_channel                1.0
Name: 458166, dtype: object

In [10]:
# 100行目だけを抽出（インデックスは0から始まるため、99を指定）
selected_row = df.iloc[99]

# 結果の表示
selected_row

customer_id                 00010094
product_id                  JVL1ZCW5
purchase_date              2022/7/12
purchase_amount                 9700
redeem_coupon                  False
final_settlement_amount          NaN
payment_method                 コード決済
purchase_channel                 2.0
Name: 99, dtype: object

In [11]:
# 100行目, 200行目, 300行目, ..., 1000行目を抽出（インデックスは0から始まるため、99, 199, 299, ..., 999を指定）
selected_rows = df.iloc[range(99, 1000, 100)]

# 結果の表示
selected_rows

,customer_id,product_id,purchase_date,purchase_amount,redeem_coupon,final_settlement_amount,payment_method,purchase_channel
99,00010094,JVL1ZCW5,2022/7/12,9700,False,NaN,コード決済,2.0
199,00010194,P7Z2P0J7,2022/1/5,120000,False,NaN,カード,1.0
299,00010294,T1SH3FV5,2021/3/1,8600,False,NaN,コード決済,1.0
399,00010394,5ZVRGG80,2023/8/29,9700,False,NaN,現金,2.0
499,00010494,MXG5GU6A,2023/11/8,150000,False,NaN,現金,1.0
599,00010594,EZX6KIHW,2020/3/23,60300,False,NaN,現金,2.0
699,00010694,P1ZRL92Z,2018/6/16,87400,False,NaN,カード,1.0
799,00010794,A99UL3I0,2022/2/22,9500,False,NaN,現金,1.0
899,00010894,QT2XG232,2021/12/1,187700,False,NaN,現金,2.0
999,00010994,GXY35238,2018/8/4,9100,False,NaN,現金,2.0

In [12]:
# 1000行目, 2000行目, 3000行目, ..., 10000行目を抽出（インデックスは0から始まるため、999, 1999, 2999, ..., 9999を指定）
selected_rows = df.iloc[range(999, 10000, 1000)]

# 結果の表示
selected_rows

,customer_id,product_id,purchase_date,purchase_amount,redeem_coupon,final_settlement_amount,payment_method,purchase_channel
999,00010994,GXY35238,2018/8/4,9100,False,NaN,現金,2.0
1999,00011994,MUPXCCGT,2019/7/7,9400,False,NaN,現金,2.0
2999,00012994,5NILMQN2,2023/9/26,8800,False,NaN,現金,1.0
3999,00013994,I07TX6A6,2020/1/4,10400,False,NaN,現金,2.0
4999,00014994,8WQPF4VA,2021/12/22,216600,False,NaN,電子マネー,2.0
5999,00015994,RAEXJZJT,2024/2/7,7700,False,NaN,カード,1.0
6999,00016994,Z8KW5Z6O,2018/8/14,68700,False,NaN,現金,1.0
7999,00017994,SWYCHNEC,2020/8/26,572900,False,NaN,現金,2.0
8999,00018994,F2WWJOMV,2022/3/26,77600,False,NaN,コード決済,2.0
9999,00019994,10AZE2G1,2023/9/9,191000,False,NaN,現金,NaN

In [13]:
# 連続した複数行を指定した抽出
# 1行目から5行目までを抽出（インデックスは0から始まるため、0から4までを指定）
selected_rows = df.iloc[0:5]

# 結果の表示
selected_rows

,customer_id,product_id,purchase_date,purchase_amount,redeem_coupon,final_settlement_amount,payment_method,purchase_channel
0,00023085,G03257PD,2020/3/13,7200,True,6200.0,現金,2.0
1,00015469,CKZF21ZC,2023/3/29,15400,False,NaN,カード,2.0
2,00015482,7NSE0G0R,2023/12/26,15400,False,NaN,現金,1.0
3,00017107,WVCPYZBH,2021/2/19,17100,False,NaN,カード,2.0
4,00024156,OELTJ7E2,2020/10/8,24100,True,23100.0,カード,1.0

In [14]:
# 最後の10行を抽出
last_10_rows = df.iloc[-10:]

# 結果の表示
last_10_rows

,customer_id,product_id,purchase_date,purchase_amount,redeem_coupon,final_settlement_amount,payment_method,purchase_channel
458157,00287230,F83PFL8R,43815,71000,False,NaN,現金,2.0
458158,00287231,DXK813PK,44128,116800,False,NaN,現金,2.0
458159,00287232,XPV2FAYX,44912,65500,False,NaN,カード,1.0
458160,00287233,NPMQY68F,44583,113200,False,NaN,コード決済,2.0
458161,00287234,L06A4X2E,45093,8800,False,NaN,電子マネー,1.0
458162,00024236,YF829ECH,44820,188800,False,NaN,カード,1.0
458163,00012691,SPDDDXY2,43903,177200,False,NaN,カード,2.0
458164,00024355,UA56Q0XP,44572,141700,False,NaN,現金,2.0
458165,00024126,G4WT97YC,43545,224400,False,NaN,現金,1.0
458166,00012370,1QDAGFIK,45434,217300,False,NaN,電子マネー,1.0